{% extends 'base.html' %} 

{% load crispy_forms_tags %}
{% block content %}
<br><br>
  <div class="row justify-content-center">
    <div class="col-8">
      <div class="card">
        <div class="card-body">
          <h2>Register Form</h2>
          <form method="post" action="">
                {% csrf_token %}
                {{form|crispy}}
            <button type="submit" class="btn btn-primary">Register</button>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}