{% extends 'base.html' %} 

{% load crispy_forms_tags %}
{% block content %}

  <div class="row justify-content-center">
    <div class="col-8">
      <div class="card">
        <div class="card-body">
          <h2>Ajouter une formation</h2>
          <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{form|crispy}}
            <button type="submit" class="btn btn-primary">Enregistrer</button>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}