{% extends 'base.html' %} 
{% load crispy_forms_tags %}
{% block content %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Formations</title>
</head>
<body>
    <h1>Liste des formations</h1>
    <br>

	<div class="col-md-10">
        
        <div class="card card-body"> 
            <form method="get">
            {{myfilter.form}}
            <button class="btn btn-primary" type="submit">Search</button>
            </form>
        
        </div>

		<div class="card card-body">
			<table class="table table-sm">
				<tr>
                	<th>Logo</th>
					<th>Titre</th>
					<th>Description</th>
					<th>Etat</th>
				</tr>

				{% for formation in formations %}
					<tr>
                    	<td><img src={{formation.logo.url}} alt="Admin" class="img-thumbnail" width="70"></td>
						<td>{{formation.titre}}</td>
						<td>{{formation.body}}</td>
						<td>{{formation.etat}}</td>
						<td><a class="btn btn-sm btn-info" href="{% url 'modifier_formation' formation.id %}">Modifier</a></td>
						<td><a class="btn btn-sm btn-danger" href="{% url 'supprimer_formation' formation.id %}">Supprimer</a></td>
						<td><a class="btn btn-sm btn-secondary" href="{% url 'formation_detail' formation.id %}">Détail</a></td>

					</tr>
				{% endfor %}

		
			</table>
		</div>
	</div>

</div>
</body>
</html>

{% endblock %}