{% extends 'base.html' %} 

{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    <div class="main-body">
    
        <br/>
    
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    	<img src={{formation.logo.url}} alt="Admin" class="img-thumbnail" width="120">
                    <div class="mt-3">
                      <a class="btn btn-outline-primary" href="{% url 'formations' %}">retourner</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Titre</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{formation.titre}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Description</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{formation.body}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Etat</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{formation.etat}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Date</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{formation.date}}
                    </div>
                  </div>
                  <hr>
                </div>
              </div>

            </div>
          </div>

        </div>
    </div>

    {% endblock %}