{% extends 'base.html' %} 
{% load crispy_forms_tags %}
{% block content %}

<br>
<div class="row">
	<div class="col-md-6">
		<div class="card card-body">


			<p>Vous êtes sûr de vouloir supprimer "{{formation}}"?</p>

			<form action="{% url 'supprimer_formation' formation.id  %}" method="POST">
				
				{% csrf_token %}
				<a class="btn btn-warning" href="{% url 'home' %}">Cancel</a>

				<input class="btn btn-danger" type="submit" name="Confirm">
			</form>
		</div>
	</div>
</div>

{% endblock %}